.DS_Store
.docker
.env
.git
.pytest_cache
.mypy_cache
.venv
venv
__pycache__
*.pyc
*.log
*.db

firmware/esp32/.cache
firmware/esp32/build
firmware/esp32/managed_components
firmware/esp32/sdkconfig
firmware/esp32/sdkconfig.old
